version: '3.8'

services: 
  db:
    image: postgres:15
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: example
      POSTGRES_DB: website
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped

  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: php83_app
    volumes:
      - /srv/http/src:/var/www/public
    networks:
      - app-network
    restart: unless-stopped
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: nginx_app
    ports:
      - "80:80"
    volumes:
      - /srv/http/src:/var/www/public
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app-network
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
