:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #ecebd5;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variable */
  /* Colors */
  --nav_hover_color: #84b384;
  --alt_text_color: #242424;
  --nav_background_color: #447044;
}

.clearfix::after {
	content: '';
	clear: both;
	display:table;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  position:sticky;
  align-items: center;
  background-color: var(--nav_background_color);
  width: 100%;
  font-size: large;
  height: 3em;
  margin: 0;
  padding: 0;

  & .logo_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 3em;
    overflow: hidden;
    & img {
      height: 80%;
    }
  }

  & a {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    line-height: 300%;
    color: inherit;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
    transition: color .5s, background-color 1s;
  }

  & a:hover {
    background-color: var(--nav_hover_color);
    color: var(--alt_text_color);
    transition: color .5s, background-color 1s;
  }

  & a.active {
    background-color: var(--nav_hover_color);
    color: var(--alt_text_color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #202020;
    background-color: #faf9f4;

    /* Variable */
    /* Colors */
    --nav_hover_color: #84b384;
    --alt_text_color: #242424;
    --nav_background_color: #447044;
  }
}
